.logo-image{
  width:13%;
  float: left;
  padding-left: 12px;
  padding-right: 40px;
}

.search-btn{
  padding-left: 200px;
  padding: right 200px ;
}



/* ////////////////Media Quaries////////// */



/* Big Landscape tablets, laptob, and desktops */
@media (max-width: 1200px) {
  section{
    font-size: 14x;  
    height: 300px;
    width: 700px;
    }

    .swiper{
      width: 500px;
    }

    section .card .image{
      height: 100px;
      width: 80px;
      
      padding: 3px;
      background: #ffffff;
    }

    .card .card-content{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px;
      position: relative;
      z-index: 100;
    }
    .card{
      font-size: 10px;
    }
    .cart{
      margin-left: 6rem;
  }
  .video-content{
    opacity: 0;
    visibility: hidden;
  }
  .hwrap {
		width: 100%;
		height: 40px;
		}
    .btn{
      font-size: 14px;
    }

    
  
}




/* Tablet, landscape, low resolution laptop and desktop */
@media (max-width:990px) {
  .device-image{
    width: 100%;
  }
  .device-content{
    font-size: 14px;
  }
  
  
}




/* portrait tablet, e-readers kindle, */
@media (max-width:800px) {
  .video-content{
    opacity: 0;
    visibility: hidden;
  }
  .swiper{
    width: 300px;
  }
  .hwrap {
		width: 100%;
		height: 30px;
		}

    section{
      font-size: 20x;  
      height: 220px;
      width: 500px;
      }
  
      .swiper{
        width: 350px;
        margin-bottom: 50px;
      }
  
      section .card .image{
        height: 50px;
        width: 60px;
        padding: 2px;
        
      }

      
  
}





/* smartphones, Android phones, landscape iphone */
@media (max-width:600px) {
  section{
    font-size: 8x;  
    height: 100px;
    width: 400px;
    }

    .swiper{
      width: 250px;
    }

    section .card .image{
      height: 50px;
      width: 60px;
      padding: 2px;
      
    }

    .card .card-content{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px;
      position: relative;
      z-index: 100;
    }
    .card{
      font-size: 3px;
    }
    
  .video-content{
    opacity: 0;
    visibility: hidden;
  }
  .device-image{
    width: 100%;
  }
  .device-content{
    font-size: 10px;
  }
  .hwrap {
		width: 100%;
		height: 30px;
		}

    .heading-two{
      font-size: 16px;
    }
    
  
  
}


/* ///small Mobile//// */
@media (max-width:425px) {
  .device-image{
    width: 100%;
  }
  .device-content{
    font-size: 5px;
  }
  section{
    font-size: 8x;  
    height: 100px;
    width: 400px;
    }

    .swiper{
      width: 200px;
    }

    section .card .image{
      height: 50px;
      width: 60px;
      padding: 2px;
      
    }
    .hwrap {
      font-size: 12px;
      width: 100%;
      height: 30px;
      }

}




